
body {
    background-color: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: gray;
    text-align: center;

}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    display: block;
 
}